@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

html {
  letter-spacing: -0.3px;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Pretendard", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rounded {
  border-radius: 5px;
}

.foreground {
  background-color: var(--color-foreground);
}

.accent {
  color: var(--color-accent);
}

.priority-high-background {
  background: var(--color-priorityHigh);
}

.priority-medium-background {
  background: var(--color-priorityMedium);
}

.priority-low-background {
  background: var(--color-priorityLow);
}

.priority-high {
  color: var(--color-priorityHigh);
}

.priority-medium {
  color: var(--color-priorityMedium);
}

.priority-low {
  color: var(--color-priorityLow);
}

.done {
  color: var(--color-done);
}

.tab-selected {
  color: var(--color-tabSelected);
}

.input-box-background {
  background-color: var(--color-inputBoxBackground);
}

.header {
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.header .btn-add {
  -webkit-app-region: no-drag;
}
